<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>页面找不到</title>
<link rel="stylesheet" href="../dep/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="../src/eadmin/eadmin.css">
<link rel="stylesheet" href="../dep/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="../dist/css/eui.css">
<style>
.error-404 {
	float: left;
	font-size: 250px;
	overflow: hidden;
}
.content-right {
	padding-left: 20px;
	padding-top: 65px;
}
.sorry-text {
	font-size: 30px;
}
.back {
	margin-top: 20px;
	color: #f63;
	font-size: 25px;
}
@media only screen and (max-width: 800px) {
.error-404 {
	font-size: 150px;
}
.content-right {
	padding-left: 20px;
	padding-top: 35px;
}
}
</style>
</head>

<body>
<div class="ead-container-main">
	<div class="row">
		<div class="col-sm-12">
            <p class="error-404">404</p>
            <div class="content-right">
                <p class="sorry-text">很抱歉，您访问的页面找不到了！</p>
                <div><a class="back" href="index.html">返回起始页</a></div>
            </div>
		</div>
	</div>
</div>
<script src="js/jquery-1.10.2.min.js"></script>
<script>
</script>
</body>
</html>
