<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>指南</title>
<link rel="stylesheet" href="../dist/css/eui.min.css">
<link rel="stylesheet" href="../src/eadmin/eadmin.css">
<link rel="stylesheet" href="../dep/font-awesome/font-awesome.min.css">
    <style>
        .block {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
<div class="ead-container-main">
    <div class="row">
        <div class="col-sm-12">
            <h1>Bootstrap eUI 指南</h1>
            <p>文字大小：15px</p>
            <h2>色调</h2>
            <p>下面六种颜色除了主色调以外都是场景色，需要在不同的场景中使用（例如危险色表示危险的场景）。</p>
            <p>主色调 primary</p>
            <div class="block" style="background: #46c37b">#46c37b</div>
            <div class="block" style="background: #34a263"></div>
            <p>信息色 info</p>
            <div class="block" style="background: #2db7f5"></div>
            <div class="block" style="background: #0ba1e4"></div>
            <p>成功色 success</p>
            <div class="block" style="background: #71ce49">绿色</div>
            <div class="block" style="background: #5ac53e">绿色</div>
            <div class="block" style="background: #70d445"></div>
            <div class="block" style="background: #56bb2b"></div>
            <p>警告色 success</p>
            <div class="block" style="background: #ff8a0c"></div>
            <div class="block" style="background: #d87000"></div>
            <p>错误色 success</p>
            <div class="block" style="background: #e83d2c"></div>
            <div class="block" style="background: #eb2616"></div>
            <p>背景色 bg</p>
            <div class="block" style="background: #fafafa"></div>
            <p>其他颜色</p>


            <p>下面六种颜色是文字排版色，通过对文字的不同用色进行文字排版、层次结构的表现。</p>
            <p>深灰 gray-darker</p>
            <div class="block" style="background: #313131"></div>
            <p>中灰 gray-dark</p>
            <div class="block" style="background: #616161"></div>
            <p>灰 gray</p>
            <div class="block" style="background: #919191"></div>
            <p>中灰 gray-medium</p>
            <div class="block" style="background: #c1c1c1"></div>
            <p>明灰 gray-light</p>
            <div class="block" style="background: #e1e1e1"></div>
            <p>亮灰 gray-lighter</p>
            <div class="block" style="background: #f5f5f5"></div>
            <p></p>
            <div class="panel panel-default">
                <header class="panel-heading">按钮颜色</header>
                <div class="panel-body">
                    <p>可使用class来快速改变按钮的颜色，如.btn-primary</p>
                    <p>
                        <button class="btn btn-default" type="button">btn-default</button>
                        <button class="btn btn-primary" type="button">btn-primary</button>
                        <button class="btn btn-success" type="button">btn-success</button>
                        <button class="btn btn-info" type="button">btn-info</button>
                        <button class="btn btn-warning" type="button">btn-warning</button>
                        <button class="btn btn-danger" type="button">btn-danger</button>
                        <button class="btn btn-link" type="button">btn-link</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../dep/jquery/jquery-1.10.2.min.js"></script>
<script src="../dist/js/eui.min.js"></script>
<script>
</script>
</body>
</html>
