<!DOCTYPE html>
<html>
<head>
    @@include('../components/meta.html')

    <title>eAdmin</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @@include('../components/link.html')
    <link rel="stylesheet" href="../dep/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../dep/datatable/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/eadmin.css">
    <link rel="stylesheet" href="/static/css/admin-index.css">
    <style>
        .column-id {
            width: 80px;
        }

        .column-name {
        }

        .column-category {
            width: 100px;
        }

        .column-price {
            width: 100px;
        }

        .column-on-sale {
            width: 100px;
        }

        .column-operate {
            width: 100px;
        }

        .column-num {
            width: 100px;
        }
    </style>
</head>

<body>
@@include('../components/side.html')

<div class="econtent">
    <nav class="econtent-header navbar navbar-default" role="navigation">
        <div class="ead-container">
            <div class="navbar-header">
                <div class="navbar-form">
                    <a id="menu-minimalize" class="btn btn-primary btn-min"><i class="fa fa-bars"></i></a>
                    <input class="form-control" placeholder="请输入您需要查找的内容 ...">
                </div>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active"><a class="nav-link" href="#">iOS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SVN</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            主题 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">jmeter</a></li>
                            <li><a href="#">EJB</a></li>
                            <li><a href="#">Jasper Report</a></li>
                            <li class="divider"></li>
                            <li><a href="#">分离的链接</a></li>
                            <li class="divider"></li>
                            <li><a href="#">另一个分离的链接</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="econtent-body ead-container-main">
        <div class="row-col">
            <ul class="breadcrumb pull-left">
                <li><a href="#">首页</a></li>
                <li class="active">商品列表</li>
            </ul>
            <div class="pull-right">
                <a class="btn btn-default" href="admin_goods_edit.html">添加商品</a>
            </div>
        </div>
        <div class="row-col">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <select class="form-control" id="category" name="">
                        <option value="0">全部分类</option>
                        <option value="1">水果</option>
                        <option value="2"> 香蕉</option>
                        <option value="3"> 苹果</option>
                        <option value="4"> 红富士</option>
                        <option value="5"> 青苹果</option>
                        <option value="6">家具</option>
                        <option value="7"> 椅子</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="brand" name="">
                        <option value="0">全部品牌</option>
                        <option value="1">特步</option>
                        <option value="2">三星</option>
                        <option value="3">小米</option>
                        <option value="4">苹果</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="type" name="">
                        <option value="0">全部</option>
                        <option value="1">新品</option>
                        <option value="2">热销</option>
                        <option value="3">精品</option>
                        <option value="4">特价</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="search-input">关键词</label>
                    <input id="search-input" class="form-control" type="text"/>
                </div>
                <input class="btn btn-default" id="search-btn" type="button" value="搜索"/>
            </form>
        </div>
        <div class="row-col">
            <table class="table table-bordered table-hover eui-table table-condensed">
                <thead>
                <tr>
                    <th class="column-id"><input id="select-all" type="checkbox" value="0"/></th>
                    <th class="column-schoolid">学号</th>
                    <th class="column-name">姓名</th>
                    <th class="column-class">班级</th>
                    <th class="column-operate">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox" name="article-select" value="1"/>1</td>
                    <td>13551101001</td>
                    <td>张三</td>
                    <td>外语A班</td>
                    <td>
                        <a href=""><img src="images/admin/icon_view.gif" title="查看"/></a>

                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="article-select" value="1"/>1</td>
                    <td>13551101001</td>
                    <td>张三</td>
                    <td>外语A班</td>
                    <td>
                        <a href=""><img src="images/admin/icon_view.gif" title="查看"/></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="article-select" value="1"/>1</td>
                    <td>13551101001</td>
                    <td>张三</td>
                    <td>外语A班</td>
                    <td>
                        <a href=""><img src="images/admin/icon_view.gif" title="查看"/></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="article-select" value="1"/>1</td>
                    <td>13551101001</td>
                    <td>张三</td>
                    <td>外语A班</td>
                    <td>
                        <a href=""><img src="images/admin/icon_view.gif" title="查看"/></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row-col">
            <div class="form-inline pull-left">
                <select class="form-control" name="selectAge" id="operate-type">
                    <option value="0">请选择...</option>
                    <option value="1">批量删除</option>
                    <option value="2">转移到分类</option>
                </select>
                <a id="operate-ok" class="btn btn-default" href="javascript:;">确定</a>
            </div>
        </div>
        <div class="row-col">
            <div class="page pull-right">
                <span class="page-text">共 27 个记录，第 </span>
                <select class="admin-select" id="select-page">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span class="page-text"> / 2页，每页 </span>
                <input class="admin-input page-size" type="text" value="15"/>
                <span class="page-unable">第一页</span>
                <span class="page-unable">上一页</span>
                <a class="page-enable" href="">下一页</a>
                <a class="page-enable" href="">最末页</a>
            </div>

        </div>
        <div class="row-col">
            <p>第一行</p>
            <p>第二行</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>最后一行</p>
        </div>
    </div>
    <footer class="econtent-footer">
        <div class="ead-container-main">
            <p class="efooter-copyright">Theme by <a href="#">eAdmin</a></p>
        </div>
    </footer>
</div>


<script src="../dep/jquery/jquery-1.10.2.min.js"></script>
<script src="../dist/js/eui.min.js"></script>
<script src="../dep/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../src/eadmin/eadmin.js"></script>
<script src="../dep/datatable/jquery.dataTables.js"></script>

<script src="js/index.js"></script>
</body>
</html>
