<!DOCTYPE html>
<html>
<head>
    @@include('../components/meta.html')

    <title>eAdmin</title>

    @@include('../components/link.html')
    <link rel="stylesheet" href="../dep/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../dep/datatable/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/eadmin.css">
    <link rel="stylesheet" href="/static/css/admin-index.css">
</head>

<body>
@@include('../components/side.html')

<div class="econtent">
    @@include('../components/header.html')

    <nav class="econtent-header navbar navbar-default" role="navigation">
        <div class="ead-container">
            <div class="navbar-header">
                <div class="navbar-form">
                    <a id="menu-minimalize" class="btn btn-primary btn-min"><i class="fa fa-bars"></i></a>
                    <input class="form-control" placeholder="请输入您需要查找的内容 ...">
                </div>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active"><a class="nav-link" href="#">iOS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SVN</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            主题 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">jmeter</a></li>
                            <li><a href="#">EJB</a></li>
                            <li><a href="#">Jasper Report</a></li>
                            <li class="divider"></li>
                            <li><a href="#">分离的链接</a></li>
                            <li class="divider"></li>
                            <li><a href="#">另一个分离的链接</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="econtent-body ead-container-main">
        <div>
            <h3>简单的列表</h3>
            <ul class="ui-list">
                <li class="ui-list-item">Cras justo odio</li>
                <li class="ui-list-item">Dapibus ac facilisis in</li>
                <li class="ui-list-item active">Morbi leo risus</li>
                <li class="ui-list-item">
                    Cras justo odio
                    <span class="ui-badge">14</span>
                </li>
                <a class="ui-list-item ui-list-item-action" href="#">Vestibulum at eros</a>
            </ul>


        </div>
    </div>

    @@include('../components/footer.html')
</div>

@@include('../components/script.html')

</body>
</html>
