<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>工作台</title>
<link rel="stylesheet" href="../dist/css/eui.min.css">
<link rel="stylesheet" href="../src/eadmin/eadmin.css">
<link rel="stylesheet" href="../dep/font-awesome/font-awesome.min.css">
<style>
</style>
</head>
<body>
<div class="ead-container-main">
	<div class="row">
		<div class="col-sm-12">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
            <div class="card">
                <div class="card-header"><div class="card-title">面试安排</div></div>
                <div class="card-body">
                    <ul>
                        <li>这是安排1</li>
                        <li>这是安排2</li>
                    </ul>
                </div>
            </div>
		</div>
		<div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">任务</div>
                    <ul class="nav nav-tabs">
                        <div class="nav-item active"><a class="nav-link" href="#tab11" data-toggle="tab">已完成</a></div>
                        <div class="nav-item"><a class="nav-link" href="#tab12" data-toggle="tab">未完成</a></div>
                    </ul>
                </div>
                <div class="card-body">

                    <div class="tab-content">
                        <div id="tab11" class="tab-pane fade in active">
                            <ul>
                                <li>任务1</li>
                                <li>任务2</li>
                            </ul>
                        </div>
                        <div id="tab12" class="tab-pane fade">
                            <ul>
                                <li>任务3</li>
                                <li>任务4</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="col-sm-4">
		</div>
	</div>
</div>
<script src="../dep/jquery/jquery-1.10.2.min.js"></script>
<script src="../dist/js/eui.min.js"></script>
</body>
</html>
