<!DOCTYPE html>
<html>
<head>
    @@include('../components/meta.html')

    <title>eAdmin</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @@include('../components/link.html')
    <link rel="stylesheet" href="../dep/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../dep/datatable/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/static/css/eadmin.css">
    <link rel="stylesheet" href="/static/css/admin-index.css">
</head>

<body>
@@include('../components/side.html')

<div class="econtent">
    @@include('../components/header.html')

    <div class="econtent-body ead-container-main">
        <div>

            <ul class="ui-pagination">
                <li class="ui-page-item">
                    <a class="ui-page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="ui-page-item"><a class="ui-page-link" href="#">1</a></li>
                <li class="ui-page-item"><a class="ui-page-link" href="#">2</a></li>
                <li class="ui-page-item"><a class="ui-page-link" href="#">3</a></li>
                <li class="ui-page-item"><a class="ui-page-link" href="#">4</a></li>
                <li class="ui-page-item"><a class="ui-page-link" href="#">5</a></li>
                <li class="ui-page-item">
                    <a class="ui-page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    @@include('../components/footer.html')
</div>

<script src="../dep/jquery/jquery-1.10.2.min.js"></script>
<script src="../dist/js/eui.min.js"></script>
<script src="../dep/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../src/eadmin/eadmin.js"></script>
<script src="../dep/datatable/jquery.dataTables.js"></script>

<script src="js/index.js"></script>
</body>
</html>
