<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>表格</title>
<link rel="stylesheet" href="../dist/css/eui.min.css">
<link rel="stylesheet" href="../src/eadmin/eadmin.css">
<link rel="stylesheet" href="../dep/font-awesome/font-awesome.min.css">
<style>
/*.column-id {
	width: 80px;
}
.column-name {
}
.column-category {
	width: 100px;
}
.column-price {
	width: 100px;
}
.column-on-sale {
	width: 100px;
}
.column-operate {
	width: 100px;
}
.column-num {
	width: 100px;
}*/
</style>
</head>

<body>
<div class="ead-container-main">
    <!--
	<div class="row">
    	<ul class="breadcrumb pull-left">
            <li><a href="#">首页</a></li>
            <li class="active">商品列表</li>
        </ul>
        <div class="pull-right">
        	<a class="btn btn-primary" href="admin_goods_edit.html">添加商品</a>
        </div>
    </div>
    <div class="row">
    	<form class="form-inline" role="form">
        	<div class="form-group">
            	<select class="form-control" id="category" name="">
                    <option value="0">全部分类</option>
                    <option value="1">水果</option>
                    <option value="2">  香蕉</option>
                    <option value="3">  苹果</option>
                    <option value="4">    红富士</option>
                    <option value="5">    青苹果</option>
                    <option value="6">家具</option>
                    <option value="7">  椅子</option>
                </select>
            </div>
            <div class="form-group">
            	<select class="form-control" id="brand" name="">
                    <option value="0">全部品牌</option>
                    <option value="1">特步</option>
                    <option value="2">三星</option>
                    <option value="3">小米</option>
                    <option value="4">苹果</option>
                </select>
            </div>
            <div class="form-group">
            	<select class="form-control" id="type" name="">
                    <option value="0">全部</option>
                    <option value="1">新品</option>
                    <option value="2">热销</option>
                    <option value="3">精品</option>
                    <option value="4">特价</option>
                </select>
            </div>
            <div class="form-group">
            	<label class="control-label" for="search-input">关键词</label>
                <input id="search-input" class="form-control" type="text" />
            </div>
            <input class="btn btn-default" id="search-btn" type="button" value="搜索" />
        </form>
    </div>
    -->
    <div class="row">
        <div class="card card-ead">
            <div class="card-header">
                <div class="card-title">示例表格</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-default btn-sm" type="button"><i class="fa fa-plus"></i> 添加</button>
                        <button class="btn btn-default btn-sm" type="button"><i class="fa fa-edit"></i> 修改</button>
                        <button class="btn btn-default btn-sm" type="button"><i class="fa fa-trash"></i> 删除</button>
                        <button class="btn btn-default btn-sm" type="button"><i class="fa fa-refresh"></i> 刷新</button>
                    </div>
                </div>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="column-id"><input id="select-all" type="checkbox" value="0" /></th>
                        <th class="column-name">名称</th>
                        <th class="column-category">分类</th>
                        <th class="column-price">价格</th>
                        <th class="column-num">库存</th>
                        <th class="column-on-sale">状态</th>
                        <th class="column-operate">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" name="article-select" value="1" /></td>
                        <td>苹果</td>
                        <td>水果</td>
                        <td><img src="images/brand/CgQIzlS0rjiALZMwAAAVDhVhLjQ221_100-40.jpg" alt="安踏"/></td>
                        <td>14.0</td>
                        <td><span class="label label-success">已完成</span></td>
                        <td>
                            <a class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 查看</a>
                            <a class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> 修改</a>
                            <a class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="article-select" value="1" /></td>
                        <td>苹果</td>
                        <td>水果</td>
                        <td><img src="images/brand/CgQIzlS0rjiALZMwAAAVDhVhLjQ221_100-40.jpg" alt="安踏"/></td>
                        <td>14.0</td>
                        <td><span class="label label-success">已完成</span></td>
                        <td>
                            <a class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 查看</a>
                            <a class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> 修改</a>
                            <a class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="article-select" value="1" /></td>
                        <td>苹果</td>
                        <td>水果</td>
                        <td><img src="images/brand/CgQIzlS0rjiALZMwAAAVDhVhLjQ221_100-40.jpg" alt="安踏"/></td>
                        <td>14.0</td>
                        <td><span class="label label-success">已完成</span></td>
                        <td>
                            <a class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 查看</a>
                            <a class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> 修改</a>
                            <a class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="article-select" value="1" /></td>
                        <td>苹果</td>
                        <td>水果</td>
                        <td><img src="images/brand/CgQIzlS0rjiALZMwAAAVDhVhLjQ221_100-40.jpg" alt="安踏"/></td>
                        <td>14.0</td>
                        <td><span class="label label-warning">未完成</span></td>
                        <td>
                            <a class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 查看</a>
                            <a class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> 修改</a>
                            <a class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="article-select" value="1" /></td>
                        <td>苹果</td>
                        <td>水果</td>
                        <td><img src="images/brand/CgQIzlS0rjiALZMwAAAVDhVhLjQ221_100-40.jpg" alt="安踏"/></td>
                        <td>14.0</td>
                        <td><span class="label label-warning">未完成</span></td>
                        <td>
                            <a class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 查看</a>
                            <a class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> 修改</a>
                            <a class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="javascript:;">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="javascript:;" data-page="2">2</a></li>
                            <li><a href="javascript:;" data-page="3">3</a></li>
                            <li><a href="javascript:;" data-page="4">4</a></li>
                            <li><a href="javascript:;" data-page="5">5</a></li>
                            <li>
                                <a href="javascript:;"  data-page="2" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="../dep/jquery/jquery-1.10.2.min.js"></script>
<script src="../dist/js/eui.min.js"></script>

<script>
//全选插件
//checkall_name   操作全选的复选框name
//checkbox_name   被操作的复选框的name  name值可不统一 设置包含值 以XXX开头 自己修改
(function ($) {
    $.fn.check = function (options) {
        var defaults = {
            checkall_name: "checkall_name", //全选框name
            checkbox_name: "checkbox_name" //被操作的复选框name
        },
        ops = $.extend(DEFAULTS, options);
        e = $("input[name='" + ops.checkall_name + "']"), //全选
        f = $("input[name='" + ops.checkbox_name + "']"), //单选
        g = f.length; //被操作的复选框数量
        f.click(function () {
            $("input[name ='" + ops.checkbox_name + "']:checked").length == $("input[name='" + ops.checkbox_name + "']").length ? e.attr("checked", !0) : e.attr("checked", !1);
        }), e.click(function () {
            for (i = 0; g > i; i++) f[i].checked = this.checked;
        });
    };
})(jQuery);

function deleteFeedback(id) {
	if (confirm("你确定删除该商品吗？")) {
		alert("删除" + id);
	}
}

function read(id) {
	alert("已读" + id);
}

function unread(id) {
	alert("未读" + id);
}

$(document).ready(function(e) {
    //调用全选插件
    //$.fn.check({ checkall_name: "checkall", checkbox_name: "check" })
	/* 全选操作 */
	$("#select-all").click(function() {
		if ($(this).is(':checked') == true) {
			// 全选
			$("input[name='article-select']").attr("checked",true);
		} else {
			$("input[name='article-select']").attr("checked",false);
		}
	});

	/* 批量操作确定 */
	$("#operate-ok").click(function() {

		var type = $("#operate-type").children('option:selected').val();
		if (type == 0) {
			alert("请选择操作类型");
		} else if (type == 1) {
			alert("批量删除");
			$("input[name='article-select']:checked").each(function(){
				alert($(this).val());
			});
		} else if (type == 2) {
			alert("批量移动");
		}
	});

	$("#search-input").click(function() {
		var type = $("#article-cat").children('option:selected').val();
		if (type == 0) {
			alert("全部");
		} else if (type == 1) {


		} else if (type == 2) {
			alert("批量移动");
		}

	});

	/* 选择页数 */
	$('#select-page').change(function() {
		var page = $(this).children('option:selected').val(); // 选中的页数
		window.location.href = "admin/feedback?page=" + page;
	});

	/* 搜索按钮 */
	$("#search-btn").click(function() {
		var category = $("#category").children('option:selected').val();
		var brand = $("#brand").children('option:selected').val();
		var type = $("#type").children('option:selected').val(); // 促销类型



	});
});

</script>
</body>
</html>
