<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>小部件</title>
<link rel="stylesheet" href="../dist/css/eui.min.css">
<link rel="stylesheet" href="../src/eadmin/eadmin.css">
<link rel="stylesheet" href="../dep/font-awesome/font-awesome.min.css">
</head>

<body>
<div class="ead-container-main">
    <div class="row">
        <div class="col-sm-2">
            <div class="widget widget-default">
                <i class="fa fa-user"></i><span class="text-right">197</span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="widget widget-primary"></div>
        </div>
        <div class="col-sm-2">
            <div class="widget widget-success"></div>
        </div>
        <div class="col-sm-2">
            <div class="widget widget-info"></div>
        </div>
        <div class="col-sm-2">
            <div class="widget widget-warning"></div>
        </div>
        <div class="col-sm-2">
            <div class="widget widget-danger"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="ebox ebox-default">
                <header class="ebox-header">标题</header>
                <div class="ebox-body">
                    <p>内容</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12"> <a href="a" class="btn btn-primary">hah</a> </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="info-box"> <span class="info-box-icon bg-blue"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content"> <span class="info-box-text">Messages</span> <span class="info-box-number">1,410</span> </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="info-box"> <span class="info-box-icon bg-green"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content"> <span class="info-box-text">Messages</span> <span class="info-box-number">1,410</span> </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="info-box"> <span class="info-box-icon bg-orange"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content"> <span class="info-box-text">Messages</span> <span class="info-box-number">1,410</span> </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="info-box"> <span class="info-box-icon bg-red"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content"> <span class="info-box-text">Messages</span> <span class="info-box-number">1,410</span> </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;"> The body of the box </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;"> The body of the box </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;"> The body of the box </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;"> The body of the box </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;"> The body of the box </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;"> The body of the box </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;"> The body of the box </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Expandable</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: block;"> The body of the box </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-blue">
                    <h3 class="widget-user-username">Alexander Pierce</h3>
                    <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                </div>
                <div class="widget-user-image"> <img class="img-circle" src="images/admin/user.jpg" alt="User Avatar"> </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">SALES</span> </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">13,000</h5>
                                <span class="description-text">FOLLOWERS</span> </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">PRODUCTS</span> </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="copyright">版权所有 © 2015-2016 Eshop</p>
    </div>
</div>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
</script>
</body>
</html>
