<nav class="layout-nav">
    <div class="wrap">
        <ul class="nav-list">
            <li id="nav-about" class="nav-item"><a href="./index.html">${{ common.about }}$</a> </li>
            <li id="nav-feature" class="nav-item"><a href="./feature.html">${{ common.feature }}$</a> </li>
            <li id="nav-case" class="nav-item"><a href="./case.html">${{ common.case }}$</a> </li>
            <li id="nav-production" class="nav-item"><a href="./production.html">${{ common.production }}$</a> </li>
        </ul>
    </div>
</nav>