<!-- 侧栏 -->
<nav class="esidebar" id="sidebar">
    <ul class="eui-sidemenu" id="menu">
        <div class="emenu-header">
            <div>
                <img class="emenu-manager-img" src="img/user1.jpg">
            </div>
        </div>
        <div class="emenu-header-small">
            <div class="emenu-small-icon">EUI</div>
        </div>
        <li>
            <a href="#"><i class="menu-icon fa fa-home"></i><span class="menu-lable">主页</span><i
                    class="fa arrow"></i></a>
            <ul>
                <li>
                    <a href="/color.html">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-lable">Color</span>
                    </a>
                </li>
                <li>
                    <a href="/grid.html">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-lable">栅格（Grid）</span>
                    </a>
                </li>
                <li>
                    <a href="/breadcrumb.html">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-lable">Breadcrumb</span>
                    </a>
                </li>
                <li>
                    <a href="/paper.html">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-lable">Paper</span>
                    </a>
                </li>
                <li>
                    <a href="/progress.html">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-lable">进度条</span>
                    </a>
                </li>
                <li>
                    <a href="/button.html">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-lable">按钮</span>
                    </a>
                </li>
                <li><a href="/list.html">
                    <i class="menu-icon fa fa-home"></i>
                    <span class="menu-lable">列表</span></a>
                </li>
                <li><a href="/switch.html">
                    <i class="menu-icon fa fa-home"></i>
                    <span class="menu-lable">开关</span></a>
                </li>
                <li><a href="/badge.html"><i class="menu-icon fa fa-home"></i><span class="menu-lable">徽章</span></a></li>
                <li><a href="/badge.html"><i class="menu-icon fa fa-home"></i><span class="menu-lable">徽章</span></a></li>
                <li>
                    <a href="/pagination.html">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-lable">分页</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="active">
            <a href="/get-started.html"><i class="menu-icon fa fa-columns"></i><span class="menu-lable">开始使用</span></a>
        </li>
        <li class="active">
            <a href="#"><i class="menu-icon fa fa-columns"></i><span class="menu-lable">布局</span></a>
        </li>
        <li>
            <a href="#"><i class="menu-icon fa fa-bar-chart"></i><span class="menu-lable">图标统计</span><i
                    class="fa arrow"></i></a>
            <ul>
                <li><a href="#"><i class="menu-icon fa fa-home"></i><span class="menu-lable">主页1</span></a></li>
                <li><a href="widget.html" target="frame"><i class="menu-icon fa fa-home"></i><span
                        class="menu-lable">插件</span></a></li>
                <li><a href="table.html" target="frame"><i class="menu-icon fa fa-home"></i><span
                        class="menu-lable">表格</span></a></li>
                <li><a href="tab.html" target="frame"><i class="menu-icon fa fa-home"></i><span
                        class="menu-lable">Tab</span></a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /侧栏 -->