.twisterInUpLeft {
    -webkit-animation-name: twisterInUpLeft;
    animation-name: twisterInUpLeft
}

@-webkit-keyframes twisterInUpLeft {
    0% {
        opacity: 0;
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1) translateX(100%) rotate(1turn)
    }
    to {
        opacity: 1;
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1) translateX(0) rotate(0deg)
    }
}

@keyframes twisterInUpLeft {
    0% {
        opacity: 0;
        transform-origin: center center;
        transform: scale(1) translateX(100%) rotate(1turn)
    }
    to {
        opacity: 1;
        transform-origin: center center;
        transform: scale(1) translateX(0) rotate(0deg)
    }
}
.twisterInUpRight {
    -webkit-animation-name: twisterInUpRight;
    animation-name: twisterInUpRight
}

@-webkit-keyframes twisterInUpRight {
    0% {
        opacity: 0;
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1) translateX(-100%) rotate(-1turn)
    }
    to {
        opacity: 1;
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1) translateX(0) rotate(0deg)
    }
}

@keyframes twisterInUpRight {
    0% {
        opacity: 0;
        transform-origin: center center;
        transform: scale(1) translateX(-100%) rotate(-1turn)
    }
    to {
        opacity: 1;
        transform-origin: center center;
        transform: scale(1) translateX(0) rotate(0deg)
    }
}
//@-webkit-keyframes rotateIn {
//    from {
//        -webkit-transform-origin: center;
//        transform-origin: center;
//        -webkit-transform: rotate3d(0, 0, 1, -200deg);
//        transform: rotate3d(0, 0, 1, -200deg);
//        opacity: 0;
//    }
//
//    to {
//        -webkit-transform-origin: center;
//        transform-origin: center;
//        -webkit-transform: none;
//        transform: none;
//        opacity: 1;
//    }
//}

@-webkit-keyframes MyRotate {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg);
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes MyRotate {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg);
    }
    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
    }
}

